@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Rubik", system-ui, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-grey: hsl(0, 0%, 59%);
  --load-value: 0%;
}

html {
  min-height: 100lvh;
  background-color: white;
  /* scrollbar-gutter: stable; */
}

.bd {
  border: 2px solid red;
}

#root {
  position: relative;
  overflow: scroll;

  #map {
    height: 65lvh;
    z-index: 1;
  }

  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 20rem;
    height: 5px;

    background-image: linear-gradient(
      90deg,
      var(--very-dark-gray) var(--load-value),
      transparent var(--load-value)
    );
    animation: load 1.5s ease 1;

    &.full {
      background-color: var(--very-dark-gray);
    }

    span {
      font-size: 0.7rem;
      margin: 40%;
    }
  }

  .head {
    height: 35lvh;
    background-image: url("/images/pattern-bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
  }

  .zone {
    /* border: 2px solid red; */
    height: 12.5rem;
    width: 70lvw;
    border-radius: 0.625rem;
    position: fixed;
    z-index: 5;
    top: 29.5%;
    left: 50%;
    transform: translate3d(-50%, -25.5%, 0);
    background-color: #ffffffd6;
    backdrop-filter: blur(0.625rem);
    box-shadow: 0 3px 0.625rem #0000001e;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h3 {
      color: var(--dark-grey);
      font-size: 1.1rem;
    }

    p {
      color: var(--very-dark-gray);
      font-size: 1.6rem;
      font-weight: bold;
    }

    .prop {
      border-left: 2px solid var(--dark-grey);
      padding-left: 2%;
      height: 75%;
      width: 24%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &:first-child {
        border: none;
      }
     
    }
  }

  .input {
    /* border: 2px solid red; */
    padding: 1%;
    width: 35%;
    height: min(11.7rem, 65%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &.error {
      input {
        background-color: rgba(252, 100, 100, 0.984);
      }
      label {
        animation: err 200ms ease 5 alternate;
      }
    }

    h2 {
      color: #fff;
    }

    label {
      width: 80%;
      height: 3.5rem;
      position: relative;
    }

    input {
      outline: none;
      border: none;
      width: 100%;
      height: 100%;
      padding-inline: 2%;
      padding-right: 10%;
      border-radius: 0.8rem;
      font-size: 1rem;
      background-color: #fff;
    }

    button {
      outline: none;
      border: none;
      border-radius: 0.8rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      width: 3.5rem;
      aspect-ratio: 1 / 1;
      position: absolute;
      right: 0;
      cursor: pointer;
      background-color: var(--very-dark-gray);
    }
  }
}

@media screen and (max-width: 600px) {
  #root {
    .zone {
      width: 90dvw;
      height: 230px;

      flex-direction: column;

      h3 {
        font-size: 0.75rem;
      }

      p {
        font-size: 1.15rem;
      }

      .prop {
        height: 20%;
        width: 90%;
        gap: 0.4rem;
        align-items: center;
        border: none;
        padding: 0;
      }
    }

    .input {
      width: 90dvw;
      /* height: 11rem ; */

      h2 {
        font-size: 1.7rem;
      }

      label {
        width: 100%;
      }
    }
  }
}

@keyframes load {
  0% {
    --load-value: 10%;
  }
  50% {
    --load-value: 50%;
  }
  100% {
    --load-value: 100%;
  }
}

@keyframes err {
  0% {
    transform: translate3d(4%, 0, 0);
  }
  50% {
    transform: translate3d(-4%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
